:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --main-text-color: #000;
  --sub-text-color: #fff;
  --inactive: #818181;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;
  --sub-sub-text-color: #000;


  --first-brand-color: #98e1ff;
  --second-brand-color: #3a6fdf;
  --third-brand-color: #ff99dc;
  --fourth-brand-color: rgb(226, 226, 226);

  --main-font:  'PT Sans';
  --title-font:  'PT Sans Bold';
  --main-title-font: 'Montserrat';

  font-size: 62.5%;
}
